.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin:10px 0;
}

.notes__title {
  color:#fff;
  font-size: 38px;
  font-size: 'Montserrat';
  font-weight: 400;
}
